:root {
    --primary-color: #ffffff;
    --secondary-color: #1f1e1e;
    --tertiary-color:;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
    right: 0;
  }

  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  

    /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 1.3% 3%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    right: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    max-width: 100%;
  }
  


  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

    /* HEADER / NAVBAR STYLES END */
  
    .flex-row {
        display: flex;
      }
  
      .section-title {
        position:relative;
        float: left;
        margin: 0 0 0 0px;
        font-size: 36px;
        padding-right:20px;
    }

    #selfie {
      width:30%;
      min-width:150px;
      position:relative;
      float:left 500px;
      height:auto;
    }

    #about-me-text {
        display:flex;
        flex:row wrap;
        float:right;
        z-index: 3;
        margin:0 0 0 15%;
    }
    /* FOOTER STYLES START */
  footer {
    background: var(--secondary-color);
    padding: 25px 50px;
    position:sticky;
    bottom:0;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
    /* END FOOTER STYLES */
  
    /* STYLE ALL SECTION TAGS */
    section {
      padding:5%;
    }
    /* HERO STYLES START */

    /* HERO STYLES END */
  .wrap {
      flex-wrap:wrap;
      flex-flow:row;
      margin: 0 40px 40px 150px;
  }
    
  /*  STYLES */
  #about-me {
      display:flex;
      flex-wrap:wrap;
  }
    /*  STYLES END */
  
    /* work section STYLES START */
  .card {
    flex: 1 0 0;
    text-align: center;
  }
  
  .project-desc {
    text-align: center;
  }

  .project-title {
      justify-content:center ;
      font-size: 120%;
  }

  .card header, #newest-project header {
    text-align:center;
    width:10%;
    min-width: 120px;
    padding: 20px;
    margin:2% 50% 2% 45%;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    z-index: 2;
  }
  
  /*Newest Project Image*/
  #newest-project img{
    width:50%;
    min-width: 200px;
    position:relative ;
    left: 25%;
  }

  .card img {
    width: 20%;
    min-width: 200px;
  }
    /* work section STYLES END */
  
  
    /* Contact me STYLES START */

  #contact-list {
    min-width: 696px;  
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
    margin: 10% 20px 0 80px;
    display:inline
  }

  #contact-list li {
      display:inline;
      margin: 0 20px 10px 20px;
  }

  #table {
      display:table;
      margin: 0 auto;
  }
  /* Contact Me STYLES END */
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

    @media screen and (max-width:980px) {
        header{
            padding-bottom: 0;
            justify-content: center;
            position:sticky;
        }
    }

        header nav ul {
            margin-top: 10px;
            width:100%;
            justify-content: center;
        }

        header nav ul li {
            font-size: 15px;
            justify-content: center;
        }

        footer{
            width:100%;
        }

        .section-title{
          padding:5px;
          text-align: left;
        }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width:768px) {
    section{
      padding: 30px 15px;
    }

    .contact-list {
      margin: 20px;
    }

    #phone {
      position:absolute;
      left:250px;
      bottom:-199%;
    }

    #email{
      position: absolute;
      left:250px;
      bottom:-201%;
    }

    #github {
      position: absolute;
      left: 250px;
      bottom:-203%;
    }

    #linkedin{
      position: absolute;
      left:250px;
      bottom:-205%;
    }

    .card header, #newest-project header {
      margin:2% 50% 2% 41%;
    }

    #selfie{
      width:150px;
      height:150px;
    }

}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    #phone {
      position:absolute;
      left:230px;
      bottom:-207%;
    }

    #email{
      position: absolute;
      left:230px;
      bottom:-209%;
    }

    #github {
      position: absolute;
      left: 230px;
      bottom:-211%;
    }

    #linkedin{
      position: absolute;
      left:230px;
      bottom:-213%;
    }

    .card header, #newest-project header {
      margin:2% 50% 2% 40%;
    }
  }